<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to the Parking System!</h2>
    <p>Please register or log in to manage your parking needs.</p>
    <br>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/user_dashboard">User Dashboard</a>
    <a href="/admin_dashboard">Admin Dashboard</a>
    <a href="/logout">Logout</a>

</body>
</html>